* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Smooch Sans", sans-serif;
  src: url("./assets/static/SmoochSans-Black.ttf"),
    url("./assets/static/SmoochSans-ExtraBold.ttf"),
    url("./assets/static/SmoochSans-Medium.ttf");
}

:root {
  --font: "Smooch Sans", sans-serif;
  --shadow-bottom: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  --shadow-top: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
  --main-black: #0f0f0f;
  --second-black: #333333;
  --spacing-sm: 16px;
  --spacing-md: 32px;
}

main {
  height: 100dvh;
  font-family: var(--font);
}

.todo-list-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.7fr 4fr 0.3fr;
  height: 100%;
}

.header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-bottom);
  /* -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.69); */
}

.header h1 {
  font-size: 6rem;
  font-weight: 500;
}
.header h1::before {
  content: url("./assets/check.svg");
  display: inline-block;
  width: 90px;
  transform: translateY(10px);
  margin-right: 20px;
}

.sidebar {
  background-color: var(--main-black);
  color: white;
}

.footer {
  grid-column: 1/3;
  box-shadow: var(--shadow-top);
}

/*SIDEBAR*/
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: var(--spacing-sm);
}

.sidebar-top > div {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  width: 100%;
  text-align: center;
  padding: var(--spacing-md);
}

.sidebar-top > div:not(:last-child) {
  border: 1px solid white;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.sidebar-top > div:not(:last-child):active {
  transform: scale(0.9);
}
.sidebar-top > div:not(:last-child):hover {
  cursor: pointer;
  color: var(--second-black);
  background-color: white;
}

/*MODAL*/
.modal {
  position: absolute;
  max-width: 100%;
  width: 800px;
  height: 800px;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: none;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal::backdrop {
  backdrop-filter: blur(10px);
  background: #fff5;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.form-sidebar {
  grid-column: 1/2;
  background-color: var(--second-black);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
}

.form-sidebar button {
  width: 100%;
  align-self: center;
  padding: var(--spacing-sm) var(--spacing-md);
  margin-bottom: var(--spacing-sm);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: var(--second-black);
  border: 1px solid white;
  color: white;
}
.form-sidebar button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--second-black);
}

.form-project-wrap {
  grid-column: 2/3;
  display: none;
  align-items: start;
}

.form-project-wrap > .input-container {
  margin: var(--spacing-sm);
}

.form-project-wrap > button {
  align-self: end;
  margin: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.form-todo-wrap {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-todo-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;
}

.input-container {
  width: 80%;
  text-align: center;
}

input[type="text"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  padding: var(--spacing-sm);
}

label {
  font-weight: 100;
  font-size: 1.5rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*RADIO*/
.radio-container {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.radio-container::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--second-black);
  border: 1px solid #fff;
  border-radius: 12px;
  transition: 0.5s left ease;
}

.radio-container:has(#first-value:checked)::before {
  left: 0%;
  background: #dfff00;
}
input[type="radio"]:checked + label {
  color: var(--second-black);
}

.radio-container:has(#second-value:checked)::before {
  left: 34%;
  background: #fac898;
}

.radio-container:has(#third-value:checked)::before {
  left: 69%;
  background: #faa0a0;
}

.toggle {
  padding: 1rem;
  z-index: 1;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
  cursor: pointer;
}
/*RADIO*/

input[type="date"] {
  background-color: var(--second-black);
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: calc(var(--spacing-sm) / 2);
  text-transform: uppercase;
  margin: 10px;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

select {
  width: 70%;
  height: 30px;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 12px;
  letter-spacing: 0.3rem;
  background-color: white;
  border: 1px solid black;
}

::placeholder {
  font-size: 1.5rem;
}

.buttons-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: var(--spacing-md);
}

.buttons-container button {
  margin: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.buttons-container button:hover {
  cursor: pointer;
}

#cancel {
  border: 1px solid var(--second-black);
  background-color: white;
}

button[type="submit"] {
  background-color: var(--second-black);
  color: white;
}

/*MODAL*/

/*BUTTON*/
.creating-todo-bttn {
  border-radius: 50%;
  width: 150px;
  height: auto;
  align-self: center;
  margin-bottom: var(--spacing-sm);
}

.plus-icon {
  transition: transform 0.5s ease-out;
}
.plus-icon:hover {
  transform: rotate(360deg);
  cursor: pointer;
}
.plus-icon:active {
  transform: scale(0.9);
}

/*TODO*/
.edit-bttn-todo,
.detail-button-todo,
.remove-button-todo {
  width: 20px;
  height: auto;
}
.todo-content {
}

.single-todo {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 20px;
  width: 60%;
}

/*PROJECT BUTTON */
.project-container > div {
  display: flex;
  justify-content: space-between;
}
