* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Smooch Sans", sans-serif;
  src: url("./assets/static/SmoochSans-Black.ttf"),
    url("./assets/static/SmoochSans-ExtraBold.ttf"),
    url("./assets/static/SmoochSans-Medium.ttf");
}

:root {
  --font: "Smooch Sans", sans-serif;
  --shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.69);
  --main-black: #0f0f0f;
  --second-black: #333333;
  --spacing-sm: 16px;
  --spacing-md: 32px;
}

main {
  height: 100dvh;
  font-family: var(--font);
}

.todo-list-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.7fr 4fr 0.3fr;
  height: 100%;
}

.header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.69);
}

.header h1 {
  font-size: 6rem;
  font-weight: 500;
}
.header h1::before {
  content: url("./assets/check.svg");
  display: inline-block;
  width: 90px;
  transform: translateY(10px);
  margin-right: 20px;
}

.sidebar {
  background-color: var(--main-black);
  color: white;
}

.footer {
  grid-column: 1/3;
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
}

/*MODAL*/
.modal {
  position: absolute;
  width: 50%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

.modal::backdrop {
  backdrop-filter: blur(4px);
  background: #fff5;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

/* #new-task {
  grid-column: 2/3;
} */

.form-sidebar {
  grid-column: 1/2;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.form-sidebar button {
  width: 50%;
  transform: translateX(50%);
}

.form-todo-wrap {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.form-project-wrap {
  grid-column: 2/3;
  display: none;
}

textarea {
  resize: none;
}
/*MODAL*/

/*BUTTON*/
.creating-todo-bttn {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0;
  border-radius: 12px;
}
.creating-todo-bttn:hover {
  cursor: pointer;
}

.plus-icon {
  width: 100px;
  height: 100px;
  margin: var(--spacing-sm);
  transition: transform 0.4s ease;
}
.plus-icon:hover {
  transform: rotate(360deg);
}
